{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    "no-var": 0,
    "vars-on-top": 0,
    "no-restricted-syntax": 0,
    "no-prototype-builtins": 0,
    "guard-for-in": 0,
    "max-len": 0,
    "brace-style": 0,
    "curly": 0,
    "prefer-template": 0,
    "global-require": 0,
    "no-loop-func": 0,
    "prefer-arrow-callback": 0,
    "no-param-reassign": 0
  }
}
